body {
    background: linear-gradient(180deg, #808080, #8B4513);
        color: white; /* Ensures text is readable */
        min-height: 100vh; /* Ensures the body takes up full screen height always give in vh*/
     margin: 0; /* Removes default margin */
  }

    #btn:hover {
        outline: 2px solid rgb(13, 13, 14); /* Define width, style, and color */
    }
        #btn:active {
            outline: 3px solid rgb(206, 185, 185); /* Add a red outline when clicked */
            box-shadow: 0 0 10px rgb(199, 192, 192); /* Glow effect */
            font-size: 25px; /* Increase font size on click */
        }
        
    
    
  
  